<div class="text-center">
    {% if  totalPages > 0 %}
        <ul class="pagination">
            {% if currentPage > 0 %}
                <li>
                    <a href="{{ url("admin_category_index", {'offset': currentPage - 1, 'limit': currentLimit}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page in 0..totalPages - 1 %}
                <li {% if page == currentPage %}class="active"{% endif %}>
                    <a href="{{ url("admin_category_index", {'offset': page, 'limit': currentLimit}) }}">{{ page + 1 }}</a>
                </li>
            {% endfor %}

            {% if currentPage < totalPages - 1 %}
                <li>
                    <a href="{{ url("admin_category_index", {'offset': currentPage + 1, 'limit': currentLimit}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>
