{% extends "@App/layout.html.twig" %}

{% block content %}
    {{ parent() }}

    <ol class="breadcrumb">
        <li><a href="{{ url('app_admin_index') }}">Admin</a></li>
        <li class="active">Création d'un test</li>
    </ol>

    {{ include("AppBundle:Default:form.html.twig") }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            $('#test_nbMinutes').bind('change, mousemove', function(event) {
                $(this).parent().find('label').html('Temps (en minutes) ' + $(this).val());
            });
            $('#test_nbQuestion').bind('change, mousemove', function(event) {
                $(this).parent().find('label').html('Nombre de questions ' + $(this).val());
            });
        })
    </script>
{% endblock %}
